*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top{
    background-color: antiquewhite;
    background-image: url(https://www.teachwithict.com/uploads/5/5/8/2/5582303/published/guess-the-number.png?1611311296);
    background-repeat: round;
    background-size: cover;
    animation-name: logo;
    animation-duration: 4s;
    animation-delay: 2m;
    animation-iteration-count: 1;
}
@Keyframes logo{
    from{
        height: 100vh;
    }
    to{
        height: 1vh;
    }
}
.head{
    height: 130px;
    box-sizing: border-box;
    padding: 2%;
    color: rgb(213, 106, 6);
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers'; 
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sigmar&display=swap');
.heading{
    font-size: 550%;
    font-weight: 900;
}
@media screen and (min-width : 300px) and (max-width : 550px) {
    .head{
        height: 60px;
    }
    .heading{
        font-size: 200%;
        font-weight: 500;
    }
}
@media screen and (min-width : 551px) and ( max-width : 800px) {
    .head{
        height: 110px;
    }
    .heading{
        font-size: 300%;
        font-weight: 500;
    }
}
form{
    height: 83vh;
    font-size: 230%;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-family: 'Sigmar', cursive;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    text-align: center;
}
.container{
    background-image: url(https://img.freepik.com/premium-vector/yellow-comic-background-with-cloud-cartoon_530597-776.jpg?w=1060);
    background-repeat: round;
    background-size: 80vw 80vh;
    box-sizing: border-box;
    padding-top: 3px;
}
.subhead{
    box-sizing: border-box;
    margin-bottom: 1%;
}
.num{
    height: 12%;
    width: 12%;
    font-size: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    padding-left: 4% ;
    margin-bottom: 3%;
    margin-top: 2%;
    border: 5px solid;
    font-family: 'Bangers';
    background-color: rgb(244, 247, 250);
}
.play{
    height: 10%;
    font-size: 80%;
    font-weight: 700;
    box-sizing: border-box;
    margin-top: 3%;
    padding: 1%;
    border-radius: 20px;
    border: 3px solid rgb(11, 104, 186);
    font-family: 'Inter', sans-serif;
    font-family: 'Sigmar', cursive; 
    background-color: coral;
}
@media screen and ( min-width : 300px) and ( max-width : 550px){
    .main{
        box-sizing: border-box;
        padding: 3%;
        padding-top: 0%;
    }
    form{
        font-size: 170%;
        box-sizing: border-box;
        padding: 0%;
    }
    .container{
        background-size: 80vw 90vh;
    }
    .num{
        height: 10%;
        width: 15%;
        font-size: 57%;
        box-sizing: border-box;
        padding-top: 1%;
    }
    .info{
        font-size: 80%;
        box-sizing: border-box;
        padding-bottom: 3%;
        color:  aliceblue;
    }
}
@media screen and ( min-width : 551px) and ( max-width : 800px) {
    .main{
        box-sizing: border-box;
        padding: 3%;
    }
    form{
        font-size: 270%;
    }
    .container{
        background-size: 100vw 90vh;
    }
    .num{
        font-size: 80%;
        box-sizing: border-box;
        padding-left: 2.5%;
    }
    .info{
        font-size: 70%;
        box-sizing: border-box;
        padding-bottom: 3%;
        color: beige;
    }
    .play{
        font-size: 50%;
    }
}
.hint{
    height: 50px;
    width: 100px;
    text-align: start;
    background-color: darkgoldenrod;
    font-size: 60%;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-left: 1%;
    border-radius: 20px;
    border: 2px solid yellowgreen;
}
@media screen and (min-width :300px) and ( max-width : 550px){
    .hint{
        font-size: 56%;
        font-weight: 400;
        height: 30px;
        width: 70px;
        box-sizing: border-box;
        padding-left: 4%;
        padding-top: 2%;
        padding-bottom: 1%;
    }
}
@media screen and ( min-width : 551px) and ( max-width : 800px) {
    .hint{
        font-size: 50%;
        height: 50px;
        width: 70px;
        box-sizing: border-box;
        padding-left: 0.5%;
        padding-top: 0.5%;
        bottom: 50px;
    }  
}